*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;/*Setting font size to 10px from default 16px*/
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #777777;
    background-image: url(../images/Black-Space.jpg);
    box-sizing: border-box;
}

.header {
    height: 100vh;
    background-image: linear-gradient(to right bottom, #2b5876bd, #4e4376a8), url(../images/astronaut-lost-in-space_3840x2160_xtrafondos.com.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: circle(50% at 50% 50%);
}

.header__logo-box{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo{
    height: 3.5rem;
}

.header__text-box{
    position: absolute;
    top: 40%;
    left: 51%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #ffffff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main{
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heading-primary--sub{
    display: block;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1.8rem;

    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }/*Start*/

    100% {
        opacity: 1;
        transform: translate(0);
    }/*Finish*/
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }/*Start*/

    100% {
        opacity: 1;
        transform: translate(0);
    }/*Finish*/
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }/*Start*/

    100% {
        opacity: 1;
        transform: translate(0);
    }/*Finish*/
}

.btn:link,
.btn-visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
}

.btn:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
}

// .btn:active {
//     transform: translateY(-1px);
// }

.btn--white {
    background-color: #ffffff;
    color: #777777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .2s;
}

.btn--white::after {
    background-color: #ffffff;
}

.btn:active::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn--animated {
    animation-name: moveInBottom;
    animation-delay: .75s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
}